h1 {
color: red;
text-align: center;
}

#firstname {
    background-color: blue;
}
h1 {
color: red;
text-align: center;
}

#firstname {
    background-color: blue;
}

.big{
    font-size:60px;
} 

P,UL {
    
color: red;
text-align: center;
}

#firstname {
    background-color: blue;
}

.big{
    font-size:70px; 
}